<section class="bg-primary" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          <img src="img/medium_logo_white.png" style="width: 30%;" />
        </h2>
        <hr class="light" />
        <p class="text-faded">
          Read more about my journey into Cloud Computing, Data Science, Deep
          Learning, things I learned while working on projects.
        </p>
        <a href="https://medium.com/@lilysu" class="btn btn-default btn-xl"
          >Visit Blog</a
        >
      </div>
    </div>
  </div>
</section>
