<section class="bg-primary" id="about" style="background-color: #00a8a7;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Gain an edge on your competition.</h2>
                <hr class="light" style = "color: #00c7c6;">
                <p class="text-faded">We make your job easy with a completely hosted, fully managed solution for your analytics needs, providing a deeply integrated stack of solutions.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
