<section class="bg-primary" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          <img src="img/learn_more_case_studies.jpg" style="width: 50%;">
        </h2>
        <hr class="light" />
        <p class="text-faded">
          We're applying state-of-the-art artificial intelligence models to help you achieve optimal results in your business.
        </p>
        <a href="https://medium.com/@lilysu" class="btn btn-default btn-xl"
          >View Case Studies</a
        >
      </div>
    </div>
  </div>
</section>
