<section class="bg-primary" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">
          <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-book fa-3x wow bounceIn" data-wow-delay=".1s"></i>
              </a>
          </div>
        <!-- <hr class="light" /> -->
        <p class="text-faded">
          Decision Makers can view how we document our work to ensure smooth collaboration and project hand-off.
        </p>
        </h2>
        <a href="https://docs.lilyxsu.com" class="btn btn-default btn-xl">Read More</a>
      </div>
    </div>
  </div>
</section>
