<section class="bg-primary" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-book fa-3x wow bounceIn" style="color:white" data-wow-delay=".1s"></i>
              </a>
          </div>
      </div>
      <br>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <br>
        <p class="text-faded">
          Here are some writings on projects I worked on:
        </p>
        <br>
        <a href="https://medium.com/@lilysu" class="btn btn-default btn-xl">Go to Blog</a>
      </div>
    </div>
  </div>
</section>

