<section class="bg-primary" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
                <i class="fa fa-book fa-3x wow bounceIn" style="color:white" data-wow-delay=".1s"></i>
              </a>
          </div>
      </div>
      <br>
      <div class="col-lg-8 col-lg-offset-2 text-center"></div>
        <p class="text-faded">
          View how we document our work to ensure smooth collaboration and project hand-off.
        </p>
        <a href="https://docs.lilyxsu.com" class="btn btn-default btn-xl">Go to Project Documentation</a>
      </div>
    </div>
  </div>
</section>

