<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="background-color: #2E2E2E">Data Analytics NYC  Predictive Modeling Services</h1>
            <hr style="background-color: #00a8a7;">
            <p style="background-color: #2E2E2E">Data Analytics NYC provides data cleaning, data visualization 
                and prediction services for the local community. We develop 
                reporting strategies and provide robust options for forecasting. 
                Our research and development in predictive modeling can help 
                you attain consumer insight as well as business foresight.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll"  style="background-color: #00c7c6;">Find Out More</a>
        </div>
    </div>
</header>