<header>
  <div class="header-content" id="about">
    <div class="header-content-inner">
      <h2></h2>
      <hr />
      <div class="img-container">
        <img
          src="img/myAvatar.png"
          alt="my-avatar"
          class="rounded"
        />
      </div>
      <hr />
      <p style="background-color: rgba(129, 123, 110, 0.71);">
        Noah Povis is an Experienced free-lance Data Scientist with strong interpersonal skills to compliment his technical abilities.   
        These dual skillsets derive from his experience in starting small businesses/startups, b2b/d2c sales, Lambda School, freelance 
        Data Science/ML projects, and self-taught CS. He sees himself as a generalist, which allows him to function as a hybrid in many settings 
        while also allowing him to adapt quickly to circumstances. Whether it is working with small remote teams, startups or corporations Noah 
        always focuses on how his skillset can best be utilized for the most optimal outcome for all stakeholders involved.  
       
      </p>
      <a href="#skills" class="btn btn-primary btn-xl page-scroll">Find Out How</a>
    </div>
  </div>
</header>
