<header>
  <div class="header-content" id="about">
    <div class="header-content-inner">
      <h2></h2>
      <hr />
      <div class="img-container">
        <img
          src="img/myAvatar.png"
          alt="my-avatar"
          class="img-thumbnail
        img-circle"
        />
      </div>
      <hr />
      <p style="background-color: rgba(129, 123, 110, 0.71);">
        Lily Su is the founder of Data Analytics NYC, a private consulting company providing reporting and predictive modeling. 
      Lily delivers outcomes that impact businesses in their bottom line and organizations in their efficiency  and their competitive advantage.
      As a result of Lily’s insights provided as a Data Scientist, strategic business decisions are made. 
      </p>
      <a href="#skills" class="btn btn-primary btn-xl page-scroll">Find Out How</a>
    </div>
  </div>
</header>
