<!-- Row 1 Left Modal Data Partnership -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Using Anonymized Mobile Data to Detect Retail Foot Traffic Fluctuations in Areas with the Most Covid-19 Cases</h2>
              <p class="item-intro text-muted">
              </p>
              <img src="img/portfolio/traffic_datashader.gif" alt="Displays Image Captioning History"
              class="img-responsive img-thumbnail center-block"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
            
              <img src="img/portfolio/traffic_data.gif" alt="Displays Image Captioning History"
              class="img-responsive img-thumbnail center-block"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />

              <img src="img/portfolio/traffic_lic.gif" alt="Displays Image Captioning History"
              class="img-responsive img-thumbnail center-block"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />

              <hr />
              <p>
                Partnered with Predicio to jointly advance the business development of using location intelligence for actionable insights. 
              </p>
              <p>
                Led development of strategies to outline how Predicio enterprise solutions can enable business growth and productivity.
              </p>
              <p>
              Developed a data analysis pipeline(AWS S3 to Google Colab). Wrote 50% of code, reviewed all of it, and built upon previous work. Delivered in 6 weeks, which led to the Data Analytics NYC’s first contract with a location intelligence agency.
              </p>
              </p>
              <p>
                👇 Check out the Medium Blog Post below. 👇
              </p>
              <p>
                <button class="btn btn-info btn-responsive"
                onclick=" window.open('https://towardsdatascience.com/how-mobile-location-data-could-help-you-limit-exposure-to-covid-19-cb821b560809','_blank')">
                <i class="fa fa-cog"></i> View Blog Post
                </button>
              </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <img src="" alt="">
              <p>
                <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row 1 Middle Modal 2 Reporting Dashboard-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Reporting Dashboard</h2>
              <p class="item-intro text-muted">
                Fully Managed Dashboard that Reports on Covid-19 Trends by Zipcode, Borough, County, and Country Paired with Essential Information
              </p>
                <img src="img/portfolio/covid_old_homepage.gif" alt="Displays Image Captioning History"
                class="img-responsive img-thumbnail center-block"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />

                <h2>Technical Run-through</h2>
                <div class="youtube-player" data-id="hhVuUESnl6Q"
                  style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div>
                
                <h2>Earlier Iteration</h2>
                <img src="img/portfolio/covid_homepage.png" alt="Displays Image Captioning History"
                class="img-responsive img-thumbnail center-block"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />

                <h2>Latter Iteration</h2>
                <img src="img/portfolio/covid_dash.gif" alt="Displays Image Captioning History"
                class="img-responsive img-thumbnail center-block"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
                
                <img src="img/portfolio/covid_diagram.png" alt="Displays Image Captioning History"
                class="img-responsive img-thumbnail center-block"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
              
              <hr />
              <p>
                <p>
                  Created a business intelligence dashboard using Plotly Dash and Flask to give people real-time visibility into positive cases. 
                </p>
                <p>
                  Deployed dashboard in 2 weeks, refactored sourcing of data according to developing situations. 
                </p>
                <p>
                  Gave a workshop on a deep dive of understanding Covid data, building an end-to-end Python application, data visualization with Plotly and time series prediction.
                </p>
                <p>
                  👇 Check out the project on Github below. 👇
                </p>
                <p>
                  <button class="btn btn-info btn-responsive"
                    onclick=" window.open('https://github.com/LilySu/Covid-19nyc','_blank')">
                    <i class="fa fa-cog"></i> View on Github
                  </button>
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <img src="" alt="">
                <p>
                  <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                    <i class="fa fa-times"></i> Close Project
                  </button>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row 1 Right  Modal Applied Research-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Applied NLP Research in Word Trend Application</h2>
              <p class="item-intro text-muted">Word Trend Analysis Application that Draws Actionable Insights from Online Review for Restaurant Owners</p>
              <h2>30 Second App Run-through</h2>
              <div class="youtube-player" data-id="VvkSyF68lQs"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div> 
              
              <h2>6 Minute Technical Run-through</h2>
              <div class="youtube-player" data-id="IUzjatvmT0s"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"></div> 
            
              <img src="img/portfolio/tally_diagram.png" alt="Displays Image Captioning History"
              class="img-responsive img-thumbnail center-block"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />

              <hr />
              <p>
                Prototyped and deployed a word trend analysis application for restaurant owners. 
              </p>
              <p>
              Shipped to production 3 times in 6 weeks. Processed web-scraped yelp reviews at scale with n-grams, word-to-vec, sentiment analysis, entity extraction, using BERT, Spacy and NLTK. 
              </p>
              <p>
              Implemented a rule-based system that returns meaningful review snippets based on the most frequently occurring phrases in positive and negative reviews.
              </p>
              <p>
                👇 Check out the project on Github below. 👇
              </p>
              <p>
                <button class="btn btn-info btn-responsive"
                  onclick=" window.open('https://github.com/TallyAI/tally-ai-ds','_blank')">
                  <i class="fa fa-github"></i> View on Github
                </button>
              </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <img src="" alt="">
              <p>
                <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row 2 Left Modal Research & Application -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Extracting Consumer Insights from Yelp Ratings and Reviews for Coffee Shops in Austin Texas Then Creating a Dashboard</h2>
              <p class="item-intro text-muted">   
              </p>

              <img class="img-responsive center-block" src="img/portfolio/austin_data.gif"
                alt="showcase of twitoff as gif"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />

              <img class="img-responsive center-block" src="img/portfolio/austin_nlp.gif"
              alt="showcase of twitoff as gif"
              style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
              <hr />
              <p>
              <p>Performed text analysis over coffee shop reviews, discovering that meaningful insights can be extracted from online reviews through ranking high and low-rated reviews.
              </p>
              <p>
                👇 Check out the blog post below. 👇
              </p>
              <p>
                <button class="btn btn-info btn-responsive"
                  onclick=" window.open('https://medium.com/@lilysu/finding-word-patterns-in-online-reviews-that-help-businesses-improve-e067a75b74e2','_blank')">
                  <i class="fa fa-github"></i> View Blog Post
                </button>
              </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <img src="" alt="">
              <p>
                <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row 2 Middle Modal Hypothesis Testing -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Snow Plow Priority Designation in Respect to Residential Population in NY</h2>
              <p class="item-intro text-muted"> </p>
              <img class="img-responsive center-block" src="img/portfolio/snow_plow.gif"
                alt="showcase of twitoff as gif"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
              <hr />
              <p>Overlaying multiple layers of location data including road shapes and longitude and latitude coordinates. Data analysis of road and population data.
              </p>
              <p>
                👇 Check out the blog post below. 👇
              </p>
              <p>
                <button class="btn btn-info btn-responsive"
                  onclick=" window.open('https://medium.com/@lilysu/3-things-you-probably-didnt-know-about-municipal-services-in-nyc-6ce3691a50d','_blank')">
                  <i class="fa fa-github"></i> View Blog Post
                </button>
              </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <img src="" alt="">
              <p>
                <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row 2 Right Modal Fundamental Concepts -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>A Survey of Popular Frameworks in Supervised Learning with Code Snippets and Diagrams</h2>
              <p class="item-intro text-muted">
                 
              <img class="img-responsive center-block" src="img/portfolio/blog.jpeg"
                alt="showcase of twitoff as gif"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
              <hr />
              <p> Here is a collection of notes I have taken in my Data Science journey. 
              </p>
              <p>
                👇 Check out the blog. 👇
              </p>
              <p>
                <button class="btn btn-info btn-responsive"
                  onclick=" window.open('https://medium.com/@lily_su','_blank')">
                  <i class="fa fa-github"></i> View Blog
                </button>
             </p>
             <br>
             <br>
             <br>
             <br>
             <br>
              <img src="" alt="">
              <p>
                <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row 3 Left Modal Hypothesis Testing -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Organizing Data Science Lightning Talks in the NYC Community for a New Chapter of City.AI, Netherlands-Based Nonprofit</h2>
              <p class="item-intro text-muted">
              </p>
              <img class="img-responsive center-block" src="img/portfolio/cityai.jpg"
                alt="showcase of twitoff as gif"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
              <hr />
              <p>Organized a lightning talks series for Data Science professionals to gather and share their knowledge. Launched new location for City.AI, a non-profit focused on building community around knowledge share. Pulled in sponsors O’Reilly and Nomadworks.
              </p>
              <p>
                👇 Check out the event info. 👇
              </p>
              <p>
                <button class="btn btn-info btn-responsive"
                  onclick=" window.open('https://www.linkedin.com/posts/lilyxsu_datascience-ai-machinelearning-activity-6549726029684985856-iis2','_blank')">
                  <i class="fa fa-github"></i> View Event on Linkedin
                </button>
              </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <img src="" alt="">
              <p>
                <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row 3 Middle Modal Hypothesis Testing -->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>A Look at Motor Vehicle Accidents and Deaths Over the Course of the Last 6-Months in NYC as Reported by the NYPD</h2>
              <p class="item-intro text-muted">  
              </p>
              <img class="img-responsive center-block" src="img/portfolio/accidents.gif"
                alt="showcase of twitoff as gif"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
              <hr />
              <p>
              <p>Data analysis and visualization of reported cases of motor vehicle accidents over a 6-month period.
              </p>
              <p>
                👇 Check out the blog. 👇
              </p>
              <p>
                <button class="btn btn-info btn-responsive"
                  onclick=" window.open('https://medium.com/@lilysu/motor-vehicle-injuries-and-deaths-from-nov-1-2018-apr-8-2019-a3a50b5e063c','_blank')">
                  <i class="fa fa-github"></i> View Blog
                </button>
              </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <img src="" alt="">
              <p>
                <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row 3 Right Modal Hypothesis Testing -->
<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>API Converting New York City Department of Health Data to JSON Format for Web Developers</h2>
              <p class="item-intro text-muted">
              </p>
              <img class="img-responsive center-block" src="img/portfolio/health_api.gif"
                alt="showcase of twitoff as gif"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
              <hr />
              <p>
                <!-- <img class="img-responsive center-block" src="img/portfolio/twitoff_arch.png"
                  alt="architecture of how twitoff works" /> </p> -->
              <p>Developed and deployed an API to help people access public daily-updated Covid data from the NYC Department of Health. 
              </p>
              <p>
                👇 Check out the project on Github. 👇
              </p>
              <p>
                <button class="btn btn-info btn-responsive"
                  onclick=" window.open('https://github.com/LilySu/nyc-health-API','_blank')">
                  <i class="fa fa-github"></i> View on Github
                </button>
              </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <img src="" alt="">
              <p>
                <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>