<!-- Row 1 Left Modal Data Partnership -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Adding value as a Data Scientist: Utilizing Docker, FASTAPI, and AWS Beanstalk to solve real world issues in Rwanda</h2>
              <p class="item-intro text-muted">
              </p>
              <hr />
              <p>
                Lead all data engineering tasks including build API, dockerizing API, and deploying API and mL model to AWS BS.   
              <p>
                👇 Check out the Medium Blog Post below. 👇
              </p>
              <p>
                <button class="btn btn-info btn-responsive"
                onclick=" window.open('https://noah40povis.medium.com/adding-value-as-data-scientist-utilizing-docker-fastapi-and-aws-beanstalk-to-solve-real-world-eceb6f9ae5c6')">
                <i class="fa fa-cog"></i> View Blog Post
                </button>
              </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <img src="" alt="">
              <p>
                <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Row 1 Middle Modal 2 Reporting Dashboard-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true"
  style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-med-10 col-sm-12">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2>Deal Flow Sourcing Model for Early Stage Venture Capital Investments</h2>
              <p class="item-intro text-muted">
              </p>
              <hr />
              <p>
                Built a machine learning classification model that predicts whether a company that has raised a seed round will go onto raise a Series A.  
              <p>
                👇 Check out the Medium Blog Post below. 👇
              </p>
              <p>
                <button class="btn btn-info btn-responsive"
                onclick=" window.open('https://noah40povis.medium.com/a-quantitative-approach-to-sourcing-dealflows-1bd90571029a')">
                <i class="fa fa-cog"></i> View Blog Post
                </button>
              </p>
              <br>
              <br>
              <br>
              <br>
              <br>
              <img src="" alt="">
              <p>
                <button type="button" class="btn btn-primary btn-responsive" data-dismiss="modal">
                  <i class="fa fa-times"></i> Close Project
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
